.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario {
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 15px;
    background-color: gold;
}

input {
    border-radius: 5px;
    background-color: wheat;
}

.botones {
    margin-top: 20px;
    margin-left: 50px;
}

button {
    background-color: aqua;
    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px;
}

button:active {
    background-color: red;
}

.msg_error {
    border-radius: 5px;
    text-align: center;
    background-color: red;
    color: white;
}

.correcto {
    border-radius: 5px;
    text-align: center;
    background-color: greenyellow;
    color: white;
}