.container {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.formulario {
    background-color: gold;
    width: 250px;
    height: 460px;
}

input, textarea {
    margin-left: 40px;
}

p {
    margin-top: 30px;
}

button{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 90px;
}

.msg_error,
.msg_exito {
    width: 150px;
    color: black;
    margin-left: 50px;
    min-height: 20px;
    padding: 5px;
    visibility: hidden;
}
