.container {
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: row;


}

.imagen {
    margin-right: 20px;
}

.datos {
    flex-direction: column;
    display: flex;
}

.campo2 {
    display: flex;
    flex-direction: row;
    flex-wrap: 1;
    gap: 20px;
}

.campo1 input {
    width: 225px;
    height: 25px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

.campo2 input {
    width: 100px;
    height: 25px;
    border-radius: 5px;
    border: 0.5px solid gray;
}

button {
    margin-top: 20px;
    height: 25px;
    border-radius: 10px;
    background-color: rgb(88, 132, 236);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

.mensaje_error {
    background: #ffdddd;
    border-left: 5px solid red;
    padding: 10px;
    display: none;
    color: black;
    font-weight: bold;
}