.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}   

body {
    background-color: whitesmoke;
}

.imagen {
    margin: 50px;
}

.formulario {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

h1,p  {
    font-family: Arial, Helvetica, sans-serif;
    color: gray
}

.expCVV {
    display: flex;
    gap: 20px;
}

.expCVV .campo{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.expCVV input{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}

.campo2 input {
    width: 235px;
    height: 30px;
    border-radius: 5px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 128, 255);
    color: white;
    width: 240px;
    height: 35px;
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;
    margin-right: 45px;

}

.boton {
    display: flex;
    justify-content: center;
}

button:hover {
    background-color: darkviolet;
    cursor: pointer;
}

.msg_error {
    background: #ffdddd;
    border-left: 5px solid red;
    padding: 10px;
    display: none;
    color: black;
    font-weight: bold;
}